{{#paper-item class="" param=item action="goToTeam"}}
    <img src={{item.crest}} alt={{item.shortName}} class="md-avatar">
    <div class="md-list-item-text">
      <h3>{{item.name}}</h3>
    </div>
    {{#paper-button icon-button=true param=item action="secondaryPersonClick"}}
      {{paper-icon icon="favorite-border"}}
    {{/paper-button}}
{{/paper-item}}
{{paper-divider}}
