{{#paper-item class="team-list-entry" param=item action="goToTeam"}}
    <img src={{item.crest}} alt={{item.shortName}} class="md-avatar">
    <div class="md-list-item-text">
      <h3>
        <div layout="row">
          <div flex="50">{{item.name}}</div>
          <div flex="15">{{item.standing.position}}</div>
          <div flex="15">{{item.standing.goals}}</div>
          <div flex="15">{{item.standing.goalsAgainst}}</div>
        </div>
      </h3>
    </div>
    {{#paper-button icon-button=true param=item action="faveTeam"}}
      {{paper-icon icon=item.faveIcon class=item.faveClass}}
    {{/paper-button}}
{{/paper-item}}
{{paper-divider}}
