{{#paper-list}}
  {{#each model as |player|}}
    {{#paper-item class="md-3-line player-entry" param=player}}
        <img src={{player.team.crest}} alt={{player.team.shortName}} class="md-avatar">
        <div class="md-list-item-text">
          <h3>#{{player.jerseyNumber}} {{player.name}}</h3>
          <h4>{{player.position}}</h4>
          <h4>{{player.nationality}} {{player.value}}{{player.currency}}</h4>
        </div>
    {{/paper-item}}
    {{paper-divider}}
  {{/each}}
{{/paper-list}}
