<h3>{{model.name}} ({{model.code}})</h3>
<div>
  <img src="{{model.crest}}"/>
</div>
<div>
  <span>{{model.shortName}} value:</span>
  <span>{{model.value}} {{model.currency}}</span>
</div>
{{outlet}}
